<div class="home-content">
  {{!-- {{#if session.isAuthenticated}}
    <h2 class="join-heading">You are logged in.</h2>
  {{else}}
    <h2 class="join-heading">You are logged out.</h2>
  {{/if}} --}}

  <div class="leaflet-container">
    {{#leaflet-map lat=model.json.routes.firstObject.bounds.northeast.lat lng=model.json.routes.firstObject.bounds.northeast.lng zoom=zoom scrollWheelZoom=false onMoveend=(action "updateCenter")}}
      {{#each model.json.routes as |value|}}
        {{google-route route=value}}
      {{/each}}
      {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png" }} -
    {{/leaflet-map}}
  </div>
  <div class="">


    <div class="section">

      <form {{action 'search' on='submit'}} class="destination">
        <div class="input-container__route">
          <div class="input-container__input">
            {{input class="field destination__input" value=formValues.origin changeset=formValues placeholder="Origin"}}
          </div>
          <div class="input-container__input">
            {{input class="field destination__input" value=formValues.destination changeset=formValues placeholder="Destination"}}
          </div>
          <div class="input-container__input">
            {{input class="field destination__input" value=formValues.price changeset=formValues placeholder="Fuel Price"}}
          </div>
        </div>

        <div class="input-container__route">
          <div class="input-container__input">
            <button class="field-go-btn destination-btn">Go</button>
          </div>
        </div>
      </form>
      <div class="container">
        <h2 class="join-heading">Route Details</h2>
        <hr>
        <table>
          <tr>
            <th><span class="fa fa-car"></span></th>
            <th>Distance</th>
            <th>Duration</th>
            <th>Fuel Cost</th>
            <th>Emissions</th>
          </tr>
          {{#each model.tripsWithVehicleOne as |trip|}}
            <tr>
              {{#with trip.vehicle as |vehicle|}}
                <td>{{vehicle.year}} {{vehicle.make}} {{vehicle.model}}</td>
              {{/with}}


              <td>{{format-fixed trip.miles 1}}mi</td>

              <td>{{trip.time}}</td>
              <td>${{format-fixed trip.totalFuelPrice 2}}</td>
              <td>{{format-fixed trip.emissions 2}}</td>
            </tr>
          {{/each}}
        </table>
      </div>
    </div>
  </div>
</div>

{{#if session.isAuthenticated}}
{{else}}
<div class="bg-grass">
  {{!-- <div class="container">
    <div class="subscribe">
      <h2 class="join-heading">Go social with your Fuel Points</h2>
      <div class="social-buttons__group">
        <button class="chat-btn social-buttons">
          <span class="fa fa-commenting-o"></span> Chat with us on messenger
        </button>
        <button class="android-btn social-buttons">
          <span class="fa fa-android"></span> Get Fuel Points with Android
        </button>
        <button class="ios-btn social-buttons">
          <span class="fa fa-apple"></span> Get Fuel Points with iOS
        </button>
      </div>
    </div>
  </div> --}}
  <div class="section">
    <div class="container">

      <div class="grid">
        <div class="grid__item">
          <div class="card">
            <div class="fa fa-car card__icon" aria-hidden="true"></div>
            <h2>Save Fuel</h2>
          </div>
        </div>
        <div class="grid__item">
          <div class="card">
            <div class="fa fa-tree card__icon" aria-hidden="true"></div>
            <h2>Save Trees</h2>
          </div>
        </div>
        <div class="grid__item">
          <div class="card">
            <div class="fa fa-road card__icon" aria-hidden="true"></div>
            <h2>Save Miles</h2>
          </div>
        </div>
      </div>

      <div class="btn-home">
        {{#link-to "register" class="btn" }}Get Started{{/link-to}}
      </div>
    </div>
  </div>
</div>
{{/if}}
