<div class="home-content">

  <div class="leaflet-container">

    {{#leaflet-map lat=model.firstObject.bounds.northeast.lat lng=model.firstObject.bounds.northeast.lng zoom=zoom scrollWheelZoom=false onMoveend=(action "updateCenter")}}
      {{#each model as |value|}}
        {{google-route route=value}}
      {{/each}}

      {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}} -
    {{/leaflet-map}}
  </div>

  <div class="section">
    <form {{action 'search' on='submit'}} class="destination">
      <div class="input-container__route">
        <div class="input-container__input">
          {{input class="destination__input" value=formValues.origin changeset=formValues placeholder="Origin"}}
        </div>
        <div class="input-container__input">
          {{input class="destination__input" value=formValues.destination changeset=formValues placeholder="Destination"}}
        </div>
        <div class="input-container__input">
          {{input class="destination__input" value=formValues.price changeset=formValues placeholder="Fuel Price"}}
        </div>
        <div class="input-container__input">
          <button class="destination-btn">Go</button>
        </div>
      </div>
    </form>
    <div class="container">
      <h2 class="join-heading">Route Details</h2>
      <hr>
      <table>
        <tr>
          <th>SUZUKI Celerio 2015</th>
          <th>Distance</th>
          <th>Fuel Cost</th>
          <th>Emissions</th>
        </tr>
        <tr>
          <td><span class="fa fa-car"></span> Name</td>
          <td>10.8 miles</td>
          <td>20</td>
          <td>3.8 pds of Co<sub>2</sub></td>
        </tr>
      </table>
      <table>
        <tr>
          <th>TOYOTA RAV4 2015</th>
          <th>Distance</th>
          <th>Fuel Cost</th>
          <th>Emissions</th>
        </tr>
        <tr>
          <td><span class="fa fa-car"></span> Name</td>
          <td>10.8 miles</td>
          <td>20</td>
          <td>5.9 pds of Co<sub>2</sub></td>
        </tr>
      </table>
      <table>
        <tr>
          <th>TOYOTA RAV4 2015</th>
          <th>Distance</th>
          <th>Fuel Cost</th>
          <th>Emissions</th>
        </tr>
        <tr>
          <td><span class="fa fa-car"></span> Name</td>
          <td>10.8 miles</td>
          <td>20</td>
          <td>4.5 pds of Co<sub>2</sub></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="container">
    <div class="subscribe">
      <h2 class="join-heading">Go social with your Fuel Points</h2>
      <div class="social-buttons__group">
        <button class="chat-btn social-buttons">
          <span class="fa fa-commenting-o"></span> Chat with us on messenger
        </button>
        <button class="android-btn social-buttons">
          <span class="fa fa-android"></span> Get Fuel Points with Android
        </button>
        <button class="ios-btn social-buttons">
          <span class="fa fa-apple"></span> Get Fuel Points with iOS
        </button>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">

      <h2 class="join-heading">Data from our users</h2>

      <div class="grid">
        <div class="grid__item">
          <div class="card">
            <div class="fa fa-car card__icon" aria-hidden="true"></div>
            <h2>86,000 drivers</h2>
          </div>
        </div>

        <div class="grid__item">
          <div class="card">
            <div class="fa fa-tree card__icon" aria-hidden="true"></div>
            <h2>1,000,000 trees saved</h2>
          </div>
        </div>

        <div class="grid__item">
          <div class="card">
            <div class="fa fa-road card__icon" aria-hidden="true"></div>
            <h2>42,000,000 miles travelled</h2>
          </div>
        </div>
      </div>

      <div class="btn-home">
        {{#link-to "register" class="btn"}}Get Started{{/link-to}}
      </div>
    </div>
  </div>
</div>

{{outlet}}
