<div class="home-content">

  <div class="section">
    <div class="container">
  <h2 class="join-heading">Pick Your Vehicle</h2>

  <div class="grid">
    <div class="grid__item">
      <div class="card">
        <div class="fa fa-car card__icon" aria-hidden="true"></div>
        <h2>Ford Mustang</h2>
        <button class="btn">Begin Route</button>
      </div>
    </div>

    <div class="grid__item">
      <div class="card">
        <div class="fa fa-car card__icon" aria-hidden="true"></div>
        <h2>Toyota Corolla</h2>
        <button class="btn">Begin Route</button>
      </div>
    </div>

    <div class="grid__item">
      <div class="card">
        <div class="fa fa-car card__icon" aria-hidden="true"></div>
        <h2>Chevrolet Silverado</h2>
        <button class="btn">Begin Route</button>
      </div>
    </div>
  </div>

<form {{action 'submit' on='submit'}} class="destination">
  <div class="input-container__route">
    <div class="input-container__input">
      Point A: {{input class="" value=formValues.year changeset=formValues}}
    </div>
    <div class="input-container__input">
      Point B: {{input class="" value=formValues.make changeset=formValues}}
    </div>
    <div class="input-container__input">
      <button class="destination-btn" {{action 'submit'}}>Go</button>
    </div>
  </div>
</form>
</div>
</div>

<div class="leaflet-container">

    {{#leaflet-map lat=model.bounds.northeast.lat lng=model.bounds.northeast.lng zoom=zoom scrollWheelZoom=false onMoveend=(action "updateCenter")}}
      - {{google-route route=model}} - {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}} -
      {{/leaflet-map}}
  </div>


  <div class="section">
    <div class="container">
      <h2 class="join-heading">Fuel Co<sub>2</sub> Output</h2>
      <table>
        <tr>
          <th>SUZUKI Celerio 2015</th>
          <th>46.4 Avg Mpg</th>
          <th>Co<sub>2</sub></th>
        </tr>
        <tr>
          <td>Fastest Route</td>
          <td>10.8 miles</td>
          <td>3.8 pds of Co<sub>2</sub></td>
        </tr>
      </table>
      <table>
        <tr>
          <th>TOYOTA RAV4 2015</th>
          <th>26 Avg Mpg</th>
          <th>Co<sub>2</sub></th>
        </tr>
        <tr>
          <td>Fastest Route</td>
          <td>10.8 miles</td>
          <td>5.9 pds of Co<sub>2</sub></td>
        </tr>
      </table>
      <table>
        <tr>
          <th>AUDI A3 2016</th>
          <th>37 Avg Mpg</th>
          <th>Co<sub>2</sub></th>
        </tr>
        <tr>
          <td>Fastest Route</td>
          <td>10.8 miles</td>
          <td>4.5 pds of Co<sub>2</sub></td>
        </tr>
      </table>
    </div>
  </div>
      <div class="container">
      <div class="subscribe">
          <h2 class="join-heading">Go social with your Fuel Points</h2>
            <div class="social-buttons__group">
              <button class="chat-btn social-buttons">
                    Chat with us on messenger
              </button>
              <button class="android-btn social-buttons">
                      Get Fuel Points with Android
              </button>
              <button class="ios-btn social-buttons">
                      Get Fuel Points with iOS
              </button>
            </div>
      </div>
    </div>


  <div class="join">
    <h2 class="join-heading">Join Millions of Users with Fuel Points</h2>
  <div class="container">
    <div class="grid">
      <div class="grid__item">

      <div class="card__membership">
        <div class="card__membership__top">
          <h2 class="card__membership__heading">Join Now</h2>
          </div>
          <div class="card__membership__mid">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, impedit placeat. Deleniti vitae nam magnam dignissimos voluptatem, natus, sapiente dicta, id ut ab atque mollitia! Aspernatur dolorem quidem adipisci molestiae?</p>
          </div>
      </div>

      <div class="card__membership">
        <div class="card__membership__top">
          <h2 class="card__membership__heading">Join Now</h2>
          </div>
          <div class="card__membership__mid">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, impedit placeat. Deleniti vitae nam magnam dignissimos voluptatem, natus, sapiente dicta, id ut ab atque mollitia! Aspernatur dolorem quidem adipisci molestiae?</p>
          </div>
      </div>

      <div class="card__membership">
        <div class="card__membership__top">
          <h2 class="card__membership__heading">Join Now</h2>
          </div>
          <div class="card__membership__mid">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, impedit placeat. Deleniti vitae nam magnam dignissimos voluptatem, natus, sapiente dicta, id ut ab atque mollitia! Aspernatur dolorem quidem adipisci molestiae?</p>
          </div>
      </div>
      </div>
    </div>
  </div>

    <div class="btn-home">
      <button class="btn">Get Started</button>
    </div>
  </div>

</div>

{{outlet}}
