<nav class="nav">
  <div class="nav-left">
    <a href="/" class="nav-item">
      {{#link-to "index"}}Logo{{/link-to}}
    </a>
  </div>

  <div class="nav-right">
    <a href="#" class="">
        {{#link-to "index"}}Data{{/link-to}}
    </a>
    <a href="#" class="">
        {{#link-to "index"}}About{{/link-to}}
    </a>

    {{#if session.isAuthenticated}}
      <button {{action 'settings'}}>
        {{#link-to 'my_account'}}My Account{{/link-to}}
      </button>
    {{else}}
      {{#link-to "login"}}
        Login
      {{/link-to}}
    {{/if}}

  </div>
</nav>
<div class="app">
  {{outlet}}
</div>

<footer>
  <div class="nav">
    <div class="nav-left">
      <ul class="footer-items">
        <li class="list">
          {{fa-icon "info"}}
          <a class="list" href=""></a>About</li>
        <li class="list">
          {{fa-icon "money"}}
          <a class="list" href=""></a>Donate</li>
        <li class="list">
          {{fa-icon "table"}}
          <a class="list" href=""></a>Data</li>
        <li class="list">
          {{fa-icon "phone"}}
          <a class="list" href=""></a>Contact Us</li>
        <li class="list">
          {{fa-icon "book"}}
          <a class="list" href=""></a>Privacy Policy</li>
      </ul>
    </div>

    <div class="nav-right">
      <div class="social-group">
        <a href="#" class="fa fa-facebook social"></a>
        <a href="#" class="fa fa-twitter social"></a>
      </div>
    </div>
  </div>
</footer>
