<div class="section">
  <div class="container">
    <div class="ma-card">
      <div class="ma-card__header">
        <h2>My Vehicles</h2>
      </div>
      <ul class="ma-card__list">
        {{#each model as |carRecord|}}
          <li class="ma-card__list-item">Ex.Make Ex.Model Ex.Year {{carRecord.year}}, {{carRecord.make}}, {{carRecord.model}}
            <button class="delete-btn" type="button" name="button">Delete</button>
          </li>
          <li class="ma-card__list-item">Ex.Make Ex.Model Ex.Year {{carRecord.year}}, {{carRecord.make}}, {{carRecord.model}}
            <button {{action "deleteCar" carRecord}} class="delete-btn" type="button" name="button">Delete</button>
          </li>
        {{/each}}
      </ul>
      <hr>
      <div class="ma-card__header">
        <h2>Add Vehicle</h2>
      </div>

      {{#with (changeset model validator) as |formValues| }}
        <form class="add-vehicle" {{action 'createRecord' on='submit'}}>
          <div class="input-container">
            <div class="input-container__input">
              Year: <input type="text" name="" value=""> {{input changeset=formValues}}
            </div>
            <div class="input-container__input">
              Make: <input type="text" name="" value=""> {{input changeset=formValues}}
            </div>
            <div class="input-container__input">
              Model: <input type="text" name="" value=""> {{input changeset=formValues}}
            </div>
          </div>
          <div class="add-vehicle-btn">
            <button type="button" name="button" class="btn add-vehicle__button" {{action 'createRecord'}}>Submit</button>
          </div>
        </form>
      {{/with}}
    </div>



    {{!-- ma-card 1 --}}
    {{!-- <div class="ma-card">
      <div class="ma-card__header">
        <h2>Change UserName</h2>
      </div>
      <div class="ma-card__main">
        <div class="user-changes">
          <div class="input-container">

          </div>
        </div>
      </div>
    </div> --}}
  </div>
</div>
{{outlet}}
