<div class="section">
  <div class="container">
    <div class="ma-card">
      <div class="ma-card__header">
        <h2>My Vehicles</h2>
      </div>
      <ul class="ma-card__list">
        {{#each model as |vehicles|}}
          <li class="ma-card__list-item">
            Ex.Make Ex.Model Ex.Year {{vehicles.year}}, {{vehicles.make}}, {{vehicles.model}}
            <button class="delete-btn" type="button" name="button">Delete</button>
          </li>
          <li class="ma-card__list-item">
            Ex.Make Ex.Model Ex.Year {{vehicles.year}}, {{vehicles.make}}, {{vehicles.model}}
            <button class="delete-btn" type="button" name="button">Delete</button>
          </li>
        {{/each}}
      </ul>
      <hr>
      <div class="ma-card__header">
        <h2>Add Vehicle</h2>
      </div>

      {{#with (changeset formValues) as |formValues|}}
        <form class="add-vehicle" {{action 'createRecord' on='submit'}}>
          <div class="input-container">
            <div class="input-container__input input-container__input--fullwidth">
              <div>
                <p>Year</p>
                <p>
                  {{#power-select-typeahead search=(action 'searchYear') selected=formValues.year onchange=(action (mut formValues.year)) as |year|}}
                    {{year}}
                  {{/power-select-typeahead}}
                </p>
              </div>
              <div>
                <p>Make</p>
                <p>
                  {{#power-select-typeahead disabled=(empty formValues.year) search=(action 'searchMake' formValues.year) selected=formValues.make onchange=(action (mut formValues.make)) as |make|}}
                    {{make}}
                  {{/power-select-typeahead}}
                </p>
              </div>
              <div>
                <p>Model</p>
                <p>
                  {{#power-select-typeahead disabled=(empty formValues.year) disabled=(empty formValues.make) search=(action 'searchModel' formValues.year) selected=formValues.model onchange=(action (mut formValues.model)) as |model|}}
                    {{model}}
                  {{/power-select-typeahead}}
                </p>
              </div>
              <div>
                <p>Options</p>
                <p>
                  {{#power-select-typeahead disabled=(empty formValues.year) disabled=(empty formValues.make) disabled=(empty formValues.model) search=(action 'searchOptions' formValues.year) selected=formValues.options onchange=(action (mut formValues.options)) as |options|}}
                    {{options}}
                  {{/power-select-typeahead}}
                </p>
              </div>
            </div>
          </div>
          <div class="input-container">
            <div class="add-vehicle-btn">
              <button type="button" name="button" class="btn add-vehicle__button">Submit</button>
            </div>
          </div>
        </form>
      {{/with}}
    </div>
  </div>
</div>
