<div class="login">
  <h2 class="login__heading">Register</h2>
  <form class="login__form" {{action 'authenticate' on='submit'}}>

    <div class="field">
      <label for="{{property}}">{{label}}Username or Email{{changeset.userName}}</label>
      <input type="text" placeholder="{{label}}" value="{{changeset.userName}}" oninput= {{action (mut changeset.userName) value="target.value" class="field"}}>
    </div>

    <div class="field">
      <label for="{{property}}">{{label}}Password{{changeset.password}}</label>
      <input type="text" placeholder="{{label}}" value="{{changeset.userName}}" oninput= {{action (mut changeset.password) value="target.value" class="field"}}>
    </div>

    <div class="btn-field">
      <button type="submit" class="btn btn-primary" {{action 'authenticate'}}>
        Register
      </button>
    </div>
  </form>

  {{#if errorMessage}}
    <p>
      <strong>Login Failed:</strong>
      <code>{{errorMessage}}</code>
    </p>
  {{/if}}
</div>

{{outlet}}
