<div class="login">
  <h2 class="login__heading">Login</h2>
  <form class="login__form" {{action 'authenticate' on='submit'}}>

    <div class="field">
      <label for="identification">Username or Email</label>
      {{input value=userName class='field'}}
    </div>

    <div class="field">
      <label for="password">Password</label>
      {{input value=password type="password" class="field"}}
    </div>

    <div class="btn-field">
      <button type="submit" class="btn btn-primary" {{action 'login'}}>Login</button>
      <p class="register-tag">Don't have an Account?<span>
    <a class="register-btn" href="">
      {{#link-to 'register'}}
      Create one here!
      {{/link-to}}
    </a>
  </span></p>
    </div>
  </form>

  {{#if errorMessage}}
  <p>
    <strong>Login Failed:</strong>
    <code>{{errorMessage}}</code>
  </p>
  {{/if}}
</div>
